<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/auth/github" class="button">Login using Github</a>
    <a href="/auth/google" class="button">Login using Google</a>
  </body>
</html>
